<div class="row leaderboard">
	<div class="col-sm-12">
		<div class="container-fluid">
			<h1>Benefits</h1>
		</div>
	</div>
</div>
<div class="row subleader">
	<div class="col-sm-12">
		<div class="container-fluid">
			<p>This is a subleader</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-3">
		<ul class="nav nav-pills nav-stacked">
			<li><a ui-sref=".quality" class="">Quality</a></li>
			<li><a ui-sref=".support" class="">Support</a></li>
			<li><a ui-sref=".accomodation" class="">Accomodation</a></li>
			<li><a ui-sref=".payment" class="">Payment Process</a></li>
		</ul>
	</div>
	<div class="col-sm-9">
		<div ui-view></div>
	</div>
</div>