<div class="row leaderboard">
	<div class="col-sm-12">
		<div class="container-fluid">
			<h1>Founders</h1>
		</div>
	</div>
</div>
<div class="row subleader">
	<div class="col-sm-12">
		<div class="container-fluid">
			<p>This is a subleader</p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<img src="http://placehold.it/300x300" class="img-responsive img-circle" alt="">
		<p>Founder 1</p>
		<a class="btn btn-default" ui-sref=".yen" class="">Yen</a>
	</div>
	<div class="col-sm-4">
		<img src="http://placehold.it/300x300" class="img-responsive img-circle" alt="">
		<p>Founder 2</p>
		<a class="btn btn-default" ui-sref=".masa" class="">Masa</a>

	</div>
	<div class="col-sm-4">
		<img src="http://placehold.it/300x300" class="img-responsive img-circle" alt="">
		<p>Founder 3</p>
	</div>
</div>

<div ui-view></div>
