<div class="row leaderboard">
  <div class="col-sm-12">
    <div class="container-fluid">
      <h1>Welcome to Himawari</h1>
    </div>
  </div>
</div>
<div class="row subleader">
  <div class="col-sm-12">
    <div class="container-fluid">
      <p>This is a subleader</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
    </ul>
  </div>
</div>
<div class="row">
  <ul>
    <li>Contact Us</li>
    <li>Email</li>
    <li>Tel</li>
    <li>Facebook</li>
    <li>Office Information</li>
  </ul>
</div>